body {
    /* background-color: rgb(35, 64, 96); */
    background: url('background_morning_img1.webp') no-repeat center/cover  ;
    color: aliceblue;
    font-family: "Anta", sans-serif;
    /* overflow: hidden; */
}

* {
    margin: 0;
    padding: 0;
}
#fahrenheit{
    width: 25px;
    height: 25px;
    margin-left: 7rem;
}
#fahrenheit:hover{
    opacity: 0.7;
}
.fDiv {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}

#search {
    margin-right: 12rem;
    padding: 0.5rem 5rem;
    border-radius: 8px;
    background-color: rgb(224 224 224);
    border: transparent;
    color: black;
    margin-top: 0.9rem;
    margin-left: 9rem;
}

h3 {
    text-shadow: 4px -3px 0px rgb(66, 65, 65);
    font-size: 20px;
    margin-top: 1rem;

}

#cloud {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#tem,
#graph {
    margin-right: 2rem;
    padding: 0.2rem 1.5rem;
    background-color: rgb(99 230 13);
    border: none;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.9rem;
}

#micicon{
    margin-top: 1.1rem;
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
}
#select_language{
    margin-top: 1.5rem;
    width: 80px;
    height: 25px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #cccccc;
    color: #000000c7;
    font-weight: bold;
}
#speaker{
    margin-top: 1.1rem;
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
}
#current_location{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-top: 0.8rem;
    margin-left: 3rem;
    cursor: pointer;
}
#micicon:hover{
    opacity: 0.8; 
}
#speaker:hover{
    opacity: 0.8; 
}
#current_location:hover{
    opacity: 0.8;
    
}

#graph:hover,
#tem:hover {
    background-color: red;
}

/* .Temperature {} */

.sDiv {
    margin-top: 3rem;
    margin-left: 3rem;
    display: flex;
}

.s1Div {
    background-color: #f9f9f97a;
    width: 30rem;
    height: 20rem;
    border-radius: 20px;
    color: black;
    /* display: flex; */
    /* gap: ; */
    /* text-align: center; */
}

.s2Div {
    background-color: #f9f9f97a;
    width: 100%;
    height: 30rem;
    border-radius: 20px;
    /* display: flex; */
    margin-left: 3rem;
    margin-right: 3rem;
    color: black;
    /* gap: ; */
    /* text-align: center; */
}

#moon {
    width: 5rem;
    height: 5rem;
    margin-top: 5rem;
    margin-left: 2rem;
}

.Temperature {
    font-size: 65px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5rem;
    margin-left: 2rem;
}

.s1aDiv {
    display: flex;
    margin-top: -3rem;
}

#monsoon {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 20px;

}

#underline {
    margin: 1rem 2rem;

}

.date {
    display: flex;
}

.location {
    display: flex;
    margin-top: 5px;

}

#imloc {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 2rem;
}

#imdate {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 2rem;

}
.heighlight{
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 20px;
}
.air_sun{
    display: flex;
}
.air1{
    display: flex;
    gap: 17rem;
    /* margin-top: 2rem; */
    /* margin-left: 2rem ; */
}
.air2{
    margin-left: 6rem;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    /* margin-left: 2rem ; */
}
.air{
    background-color:rgb(200 200 200 / 60%);
    margin-left: 2rem ;
    margin-top: 2rem ;
    padding: 1rem;
    border-radius: 12px;
    
}
.air3{
    display: flex;
    gap: 3rem;
    margin-top: 1.5rem;
    font-size: 25px; 
}
#quality{
    padding: 5px 0.5rem;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    border: none;
    background-color: rgb(99 230 13);
}
#quality:hover{
    background-color: red;
}
#wind{
    width: 3rem;
    height: 3rem;
    /* padding-bottom: 5px; */
}
.rise_set{
    display: flex;
    margin-top: 2rem;
    gap: 10rem;
}
.img_time{
    display: flex;
    /* gap: 2rem; */
    margin-top: 5px;

}
#Time_sun{
    width: 50px;
    height: 50px;
}
#Time_moon{
    width: 50px;
    height: 50px;
}
.sunrise{
    background-color:rgb(200 200 200 / 60%)  ;
    margin-left: 2rem ;
    margin-top: 2rem ;
    padding: 1rem;
    border-radius: 12px;
}
#sunriseTime{
    margin-top: 0.5rem;
    font-size: 25px;
    margin-right: 7rem;
    margin-left: 1rem;
}
#sunsetTime{
    margin-top: 0.5rem;
    font-size: 25px;
}
#now{
    margin-top: 2rem;
    margin-left: 2rem;
}
#sunr{
    margin-left: 4rem;
}
#suns{
    margin-left: -2rem;
}
.hpvf{
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
}
.humidity,.visibility,.pressure,.feellike{
    background-color:rgb(200 200 200 / 60%) ;
    margin-right: 2rem;
    border-radius: 12px;

}
.infohumi,.infopre,.infovisibility,.infolike{
    display: flex;
    margin-top: 2rem;
    gap: 5.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
/* {
    display: flex;
    margin-top: 2rem;
    gap: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
{
    display: flex;
    margin-top: 2rem;
    gap: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
{
    display: flex;
    margin-top: 2rem;
    gap: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;    
} */
#wfeellike,#whumidity,#wpressure,#wvisibility{
    height: 30px;
    width: 30px;
}
#H,#P,#V,#FL{
    font-size: 30px;
}
.text{
    margin-top: 1rem;
    margin-left: 1rem;
}
.Today,.tomorrow,.first,.second,.third,.fourth,.fifth{
    display: flex;
    margin-top: 2rem;
    gap: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.first{
    margin-top: 2rem;
}
.fifth{
    margin-bottom: 2rem;
}

.fimg{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.fivedays{
    border-radius: 12px;
     margin-top: -7rem;   
     margin-left: 3rem;
     background-color:#f9f9f97a;
     color: black;
     font-size: 14px;
     /* margin-bottom: 2rem; */
     
}
.data{
    display: flex;
}
.todayat{
    margin-top: 2rem;
    margin-left: 3.5rem;
    display: flex;
}
.todayat1{
    margin-top: -8rem;
    margin-left: 27.2rem;
    display: flex;

}
.head{
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: bold;
}
.firstb,.secondb,.thirdb,.fourthb,.fifthb,.sixthb,.seventhb,.eighthb{
    margin-left: 0.5rem;
    background-color: #f9f9f97a;
    height: 5rem;
    padding: 2rem;
    border-radius: 5px;
    color: black;
}
.icontime{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-top: 0.5rem;
}
.timeoftime{
    font-size: 20px;
    margin-top: -0.5rem;

}
#degree1, #degree2, #degree3, #degree4, #degree5, #degree6, #degree7, #degree8{
    margin-left: 0.7rem;
    margin-top: 0.5rem;
    font-size: 20px;
    margin-bottom: 2rem;
}
#windflow1,#windflow2,#windflow3,#windflow4,#windflow5,#windflow6,#windflow7,#windflow8{
    margin-left: -0.3rem;
    margin-top: 0.5rem;
    font-size: 15px;
    margin-bottom: 2rem;
}
.buttons{
    display: flex;
}


/* ///////////////////////for responsive */


/* @media only screen and (max-width: 400px){
    *{
        font-size: 0.9rem;
    }

} */








/* for mobile design 700px */
@media only screen and (max-width: 700px) {
    #current_location{
        margin-left: 0rem;
    }
    .fDiv {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    #search {
        margin-right: 0;
        margin-left: 0;
    }

    .sDiv {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .s1Div
     {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .air_sun {
        flex-direction: column;
    }

    .s2Div{
        height: 69rem;
        margin-top: 2rem;
        margin-left: 3rem;
        
    }
    /* .air2{
        gap: 3rem;
        margin-left:5rem ;
    }
    .air3{
        gap: 2rem;
    } */
    .air{
        width: auto;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .air1{
        gap: 9rem;
    }
    .air3{
        gap: 2rem;
        font-size: 23px;
    }
    .air2{
        gap: 3rem;
        margin-left: 5rem;
    }
    .sunrise{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .hpvf{
        flex-direction: column;
        align-items: center;
    }
    .humidity,.visibility, .pressure, .feellike{
        margin-bottom: 1rem;
        width: 20rem;
    }
    /* .infohumi, .infopre, .infovisibility, .infolike{ */

    /* } */

    #tem{
        margin-bottom: 1rem;
        width: 7rem;
    }
    #graph{
        /* margin-bottom: 1rem; */
        width: 7rem;
    }
    #suns{
        margin-left: -8rem;
    }
    #Time_moon{
        margin-left: -3rem;
    }

    .fivedays {
        border-radius: 12px;
        margin-top: 4rem;
        margin-left: 4rem;
        /* background-color: rgb(66, 65, 65); */
        /* margin-bottom: 2rem; */
        width: auto;
        margin-right: 4rem;

    }
    .data{
        flex-direction: column;
    }
    
    
    .firstb, .secondb, .thirdb, .fourthb, .fifthb, .sixthb, .seventhb, .eighthb {
        margin-left: 1.8rem;
        /* background-color: rgb(66, 65, 65); */
        /* height: 5rem; */
        /* padding: 2rem; */
        border-radius: 5px;
        margin-top: 1rem;
    }
    
    .todayat1 {
        margin-top: 1rem;
        /* flex-flow:; */
        flex-direction:column ;
        margin-left: 1rem;
        margin-right: 2rem;

        flex-direction: column;
    }
    .todayat {
        margin-left: 1rem;
        flex-direction: column;
        flex-flow: wrap;
    }

    /* Add more styles for small devices as needed */
}







/* For medium devices (tablets) */

/* 901 to 1200 */
@media only screen and (min-width: 901px) and (max-width: 1400px) {

    .air_sun{
        flex-direction: column;
    }
    .s2Div{
        height: 70rem;
        margin-left: 1rem;
    }
    .hpvf{
        flex-direction: column;
    }
    .sunrise{
        margin-right: 2rem;
    }
    .air{
       margin-right: 2rem; 
    }
    .air1{
        gap: 14rem;
    }
    .humidity, .visibility, .pressure, .feellike {
        margin-bottom: 1rem;
        margin-right: 12rem;
        margin-left: 3rem;

    }
    .Today, .tomorrow, .first, .second, .third, .fourth, .fifth{
        gap: 2.5rem;
    }
    .fivedays{
        margin-top: -49rem;
        margin-left: 1rem;
        height: 29rem;
    }
    .todayat{
        flex-direction: column;
        flex-flow: wrap;
        margin-left: -20rem;
    }
    .firstb, .secondb, .thirdb, .fourthb, .fifthb, .sixthb, .seventhb, .eighthb{
        margin-bottom: 1rem;
    }
    .todayat1{
        flex-direction: column;
        margin-left: 0.5rem;
        margin-right: 11rem;
        flex-flow: wrap;
        margin-top: 2rem;
    }
    #search{
        margin-left: 0rem;
        margin-right: 7rem;
        width: 6rem;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 0rem;
        margin-left: -7rem;
    }
    #graph{
        width: 6rem;
    }
    #current_location{
        margin-left: 0rem;
    }

    
}







/* For large devices (desktops) */
@media only screen and (min-width: 821px) and (max-width:900px) {
    /* Adjust styles for large devices */
}










/* it's for 701 to 820 px */
@media only screen and ( min-width: 701px) and (max-width: 900px) {
    
    .air_sun{
        flex-direction: column;
    }
    .s2Div{
        height: 70rem;
        margin-left: 1rem;
        width: 23rem;
        margin-right: 1px;
    }
    .s1Div{
        margin-left: -3rem;
    }
    .hpvf{
        flex-direction: column;
    }
    .sunrise{
        margin-right: 2rem;
    }
    .air{
       margin-right: 2rem; 
    }
    .air1{
        gap: 9rem;
    }
    .humidity, .visibility, .pressure, .feellike {
        margin-bottom: 1rem;
        margin-right: 12rem;
        margin-left: 3rem;
        width: 17rem;

    }
    .Today, .tomorrow, .first, .second, .third, .fourth, .fifth{
        gap: 2.5rem;
    }
    .fivedays{
        margin-top: -49rem;
        margin-left: 0rem;
        height: 29rem;
    }
    .air3{
        gap: 2rem;
        font-size: 20px;
    }
    .air2{
        gap: 1.5rem;
        margin-left: 5rem;
    }
    .todayat{
        flex-direction: column;
        flex-flow: wrap;
        margin-left: -18rem;
    }
    #current_location{
        margin-left: 0rem;
    }
    .firstb, .secondb, .thirdb, .fourthb, .fifthb, .sixthb, .seventhb, .eighthb{
        margin-bottom: 1rem;
    }
    .todayat1{
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 11rem;
        flex-flow: wrap;
        margin-top: 2rem;
    }

    #search{
        margin-left: 1rem;
        margin-right: 0rem;
        padding: 0.5rem 1rem;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        gap: 0rem;
        margin-left: -28rem;
        margin-top: 4rem;

    }
    .rise_set{
        gap: 8rem;
    }
    #graph{
        width: 6rem;
    }
    #suns{
        margin-left: -4rem;
    }
    #sunriseTime{
        font-size: 19px;
    }
    #sunsetTime{
        font-size: 19px;
    }
    #Time_moon{
        margin-left: -5rem;
    }

    
}

